---
---

@import "{{ site.theme }}";

body {
  color: black;
}

.textBox {
  margin: auto;
  width: 90%;
}

.textBoxInput {
  height: 250px;
}

textarea {
  height: 250px;
  resize: none;
  width: 100%;
}

.textBoxOutput-wrapper {
  background-image: #f8f8f8;
  /* overflow-y: scroll; */
}

.textBoxOutput {
  /* max-height: 500px; */
  min-height: 250px;
  overflow-x: visible;
  white-space: pre-wrap;
}

.hiragana {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.katakana {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.kanji {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.start {
  background-image: linear-gradient(to right, deepskyblue 0%, transparent 50%);
}

.start-stricter {
  background-image: linear-gradient(to right, lightblue 0%, transparent 50%);
}

.start-error {
  margin-left: -22px;
}

.end {
  background-image: linear-gradient(to left, deepskyblue 0%, transparent 50%);
}

.end-stricter {
  background-image: linear-gradient(to left, lightblue 0%, transparent 50%);
}

.end-error {
  margin-right: -22px;
}

.container-example-image {
  align-items: center;
  display: none;
  max-height: 700px;
}

.scale-example-image {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}