---
---

@import "{{ site.theme }}";

.textBox {
  margin: auto;
  width: 90%;
}

.textBoxInput {
  height: 250px;
}

textarea {
  height: 250px;
  resize: none;
  width: 100%;
}

.textBoxOutput-wrapper {
  background-color: #f8f8f8;
  /* overflow-y: scroll; */
}

.textBoxOutput {
  /* max-height: 500px; */
  min-height: 250px;
  overflow-x: visible;
  white-space: pre-wrap;
}

.hiragana {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.katakana {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.kanji {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.start {
  background-color: lightskyblue;
}

.start-error {
  margin-left: -22px;
}

.end {
  background-color: coral;
}

.end-error {
  margin-right: -22px;
}